body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background: rgb(217,217,198);
    background: linear-gradient(90deg, rgba(217,217,198,0.4149860627844888) 43%, rgba(240,240,208,0.4149860627844888) 47%);
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.btn-secondary {
    margin-left: 5px;
}